<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221809095733-m0sc4qhastuleikr7nbabfo454tl5imo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221809095733-m0sc4qhastuleikr7nbabfo454tl5imo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>221809095733-oj07298envrn6k4h7n6uq8m96jho5te1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUVAnQQPHWcI2IclgwqMIISP_sPgKix6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>523751731363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cpchicken.frcscouting3572</string>
	<key>PROJECT_ID</key>
	<string>frcscouting3572</string>
	<key>STORAGE_BUCKET</key>
	<string>frcscouting3572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523751731363:ios:59da976d5bab3fa1e9cf16</string>
</dict>
</plist>